<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
	<%= stylesheet_link_tag "web_app_theme/base", "web_app_theme/default" %>
</head>

<body>
	<div id="container">
		<div id="box">
			<h1>&nbsp;</h1>
			<div id="block-login" class="block">
				<h2>Login</h2>
				<div class="content login">
					<% form_for @user_session, :html => { :class => "form login" } do |user_session| %>
					<%= validation_error_flash @user_session, "Incorrect login or password." %>
					<%= render :partial => "layouts/flashes" %>
					<div class="group">
						<div class="left">
							<%= user_session.label :login, nil, :class => "label right" %>
						</div>
						<div class="right">
							<%= user_session.text_field :login, :class => "text_field" %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="group">
						<div class="left">
							<%= user_session.label :password, nil, :class => "label right" %>
						</div>
						<div class="right">
							<%= user_session.password_field :password, :class => "text_field" %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="group navform">
						<div class="right">
							<%= user_session.submit "Login", :class => "button" %> or <%= link_to "Go home", "/" %>
						</div>
						<div class="clear"></div>
					</div>
					<% end %>
					
				</div>
			</div>
		</div>
	</div>	
</body>
</html>
